html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
  cursor: grab;
}

#ui {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 135px;
  color: white;
  font-family: "Arial";
  padding: 5px;
}
